{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Регистрация{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'main_page' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Регистрация</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<h1 class="text-center mb-3">Регистрация</strong></h1>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success btn-block mb-3">Зарегистрироваться</button>
</form>

{% endblock %}



