{% extends 'base.html' %}


{% block title %}{{ product.name }}{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: #1d1e21;">
        <li class="breadcrumb-item"><a href="{% url 'main_page' %}" class="text-light">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}" class="text-light">{{ product.category.name }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3>{{ product.name }}</h3>
        <p>Цена: {{ product.price }} BYN.</p>
        <p>Описание: {{ product.description }}</p>
        <hr>
        {% if product.qty %}
        <a href="{% url 'add_to_cart' product.slug %}">
            <button class="btn btn-danger">Добавить в корзину</button>
        </a>
        {% else %}
        <button class="btn btn-secondary">Нет в наличии</button>
        {% endif %}
    </div>
</div>
{% endblock %}